li.active {
    background-color: #937674;
}

img {
    margin: 0 auto;
}

div.part {
    width: 300px;
    float: left;
    text-align: center;
    padding: 1%;
    margin: 1%;
}

footer {
    clear: both;
}

div.about {
    margin: 5%;
    text-align: center;
}

img.H {
    float: left;
    padding: 3%;
}

.about h1 {
    font: normal 38px Cookie, Arial, Helvetica, sans-serif;
}

.about p {
    font-size: large;
    text-align: left;
}

div.about {
    background-color: rgb(59, 55, 55);
    padding: 3%;
}

div.ga {
    width: 300px;
    float: left;
    margin: 1%;
}

a img {
    width: 100%;
}

div {
    padding: 1%;
}

.container img {
    float: left;
    margin: 1%;
    width: 300px;
}

p {
    font-size: larger;
}

h1 {
    text-align: center;
    font: normal 35px Cookie, Arial, Helvetica, sans-serif;
}

h2.text-center {
    font: normal 38px Cookie, Arial, Helvetica, sans-serif;
}

form.bootstrap-form-with-validation {
    width: 80%;
    margin: 0 auto;
}