#section-1 {
  padding-top: 80px;
  background-image: url("../img/house6.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 90vh;
  animation: animate 20s infinite;
  margin-top: 70px;
}
@keyframes animate {
  0%,
  100% {
    background-image: url("../img/house2.jpg");
  }
  25% {
    background-image: url("../img/house4.jpg");
  }
  50% {
    background-image: url("../img/house6.jpg");
  }
  75% {
    background-image: url("../img/house7.jpg");
  }
}
